<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management</title>
</head>
<body>
    <%- include('sidebar') %>

    <h1>Employee Management</h1>
    <% if (locals.errorMessage) { %>
        <p style="color: red;"><%= locals.errorMessage %></p>
    <% } %>

    <form action="/admin/employees/add" method="POST">
        <label for="name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br>
        <label for="name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br>
        <label for="position">Email:</label>
        <input type="text" id="email" name="email" required><br>
        <button type="submit">Add Employee</button>
    </form>
    <!-- Table to display all employees -->
    <h2>All Employees</h2>
    <table border="1">
        <thead>
            <tr>
                <th>EmployeeID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Job Title</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% employees.forEach(employee => { %>
                <tr>
                    <td><%= employee.employeeID %></td>
                    <td><%= employee.first_name %></td>
                    <td><%= employee.last_name %></td>
                    <td><%= employee.job_title %></td>
                    <td><%= employee.department %></td>
                    <td>
                        <form action="/admin/employees/edit/<%= employee.employeeID %>" method="POST">
                            <button type="submit">Edit</button>      </form>  
                        <form action="/admin/employees/delete/<%= employee.employeeID %>" method="POST">
                            <button type="submit">Delete</button>      </form>              </td>
                </tr>
                <h1>Edit Employee</h1>

    <form action="/admin/employees/edit/<%= employee.employeeID %>" method="POST">
        <label for="name">First_name:</label>
        <input type="text" id="first_name" name="first_name" placeholder="first_name"><br>
        <label for="job_title">Job Title:</label>
        <input type="text" id="job_title" name="job_title" ><br>
        <label for="department">Department:</label>
        <input type="text" id="department" name="department" ><br>
        <button type="submit">Save Changes</button>
      </form>
            <% }); %>
        </tbody>
    </table>
    
    <%- include('footer') %>

</body>
</html>
