<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Salary Details</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <%- include('navigationbar') %>

</head>
<body>
    <div class="container">
        <h1 class="my-4">Employee Salary Details</h1>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="june-tab" data-toggle="tab" href="#june" role="tab" aria-controls="june" aria-selected="true">June</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="may-tab" data-toggle="tab" href="#may" role="tab" aria-controls="may" aria-selected="false">May</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="april-tab" data-toggle="tab" href="#april" role="tab" aria-controls="april" aria-selected="false">April</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="march-tab" data-toggle="tab" href="#march" role="tab" aria-controls="march" aria-selected="false">March</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="february-tab" data-toggle="tab" href="#february" role="tab" aria-controls="february" aria-selected="false">February</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="january-tab" data-toggle="tab" href="#january" role="tab" aria-controls="january" aria-selected="false">January</a>
            </li>
        </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="june" role="tabpanel" aria-labelledby="june-tab">
                
        <div class="card ">
            <div class="card-header">
                <h2><%= salaryComponents.firstName %> <%= salaryComponents.lastName %></h2>
                <h6><%= salaryComponents.email %></h6>                 <h6 class="float-right">Month: <%= salaryComponents.month %></h6>

                <p><strong>Employee Number: </strong><%= salaryComponents.employeeID %> | <%= salaryComponents.department %></p>
            </div>
            <div>
            <h6><strong>Final Salary:</strong> Ksh. <%= salaryComponents.finalSalary.toFixed(2) %>                     <i class="fas fa-caret-down clickable"></i>
            </h6>
        </div>

            <div class="card-body collapse">
                <p><strong>Base Salary:</strong> Ksh. <%= salaryComponents.baseSalary%></p>
                <p><strong>Allowances:</strong> Ksh. <%= salaryComponents.allowances %></p>
                <p><strong>Final Salary:</strong> Ksh. <%= salaryComponents.finalSalary%></p>
                <a href="/accounts/employee/salary/<%= salaryComponents.employeeID %>/download" class="btn btn-primary mt-3">Download Payslip</a>

            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="may" role="tabpanel" aria-labelledby="may-tab">
        <p>Salary details for May will be displayed here.</p>
    </div>
    <div class="tab-pane fade" id="april" role="tabpanel" aria-labelledby="april-tab">
        <p>Salary details for April will be displayed here.</p>
    </div>
    <div class="tab-pane fade" id="march" role="tabpanel" aria-labelledby="march-tab">
        <p>Salary details for March will be displayed here.</p>
    </div>
    <div class="tab-pane fade" id="february" role="tabpanel" aria-labelledby="february-tab">
        <p>Salary details for February will be displayed here.</p>
    </div>
    <div class="tab-pane fade" id="january" role="tabpanel" aria-labelledby="january-tab">
        <p>Salary details for January will be displayed here.</p>
    </div>
    </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.clickable').click(function() {
                $(this).closest('.card').find('.card-body').collapse('toggle');
            });
        });
    </script>
</body>
</html>
