<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Requests</title>
</head>
<body>
    <h1>Leave Requests</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Request ID</th>
                <th>Employee ID</th>
                <th>Leave Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% leaveRequests.forEach(request => { %>
                <tr>
                    <td><%= request.request_id %></td>
                    <td><%= request.employee_id %></td>
                    <td><%= request.leave_type %></td>
                    <td><%= request.start_date %></td>
                    <td><%= request.end_date %></td>
                    <td><%= request.status %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
