<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Requests</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-siEtznLwTpEVVAzERYvOHmCTbwzW2n5qwbvSC8U1n3lOMKdWEzqyqC8kpByT5T1p" crossorigin="anonymous">
    <%- include('admin-sidebar') %>

    <div class="container">
        <h1 class="my-4">Leave Requests</h1>

        <% if (leave_requests.length > 0) { %>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Request ID</th>
                        <th>Employee ID</th>
                        <th>Leave Type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% leave_requests.forEach(request => { %>
                        <tr>
                            <td><%= request.request_id %></td>
                            <td><%= request.employee_id %></td>
                            <td><%= request.leave_type %></td>
                            <td><%= request.start_date %></td>
                            <td><%= request.end_date %></td>
                            <td><%= request.status %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } else { %>
            <div class="alert alert-info text-center" role="alert">
                No leave requests at the moment.
            </div>
        <% } %>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
<%- include('footer') %>

</body>
</html>
