<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Salary Payslip</title>
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #fff;
            font-size: 10px; /* Reduced font size */
        }
        .container {
            width: 100%;
            max-width: 800px;
            margin: auto;
            padding: 10px; /* Reduced padding */
            border: 1px solid #000;
            box-sizing: border-box;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 5px;
            border-bottom: 1px solid #000;
        }
        .header img {
            height: 40px; /* Reduced image size */
        }
        .header .title {
            text-align: center;
            font-size: 12px; /* Reduced font size */
        }
        .header .confidential {
            text-align: right;
        }
        .main-content {
            display: flex;
            justify-content: space-between;
            margin-top: 10px; /* Reduced margin */
        }
        .main-content div {
            width: 48%;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px; /* Reduced margin */
        }
        table, th, td {
            border: 1px solid #000;
        }
        th, td {
            padding: 4px; /* Reduced padding */
            text-align: left;
        }
        thead {
            background-color: #4CAF50;
            color: #fff;
        }
        .summary {
            margin-top: 10px; /* Reduced margin */
        }
        .summary .netpay {
            text-align: right;
            background-color: #4CAF50;
            color: #fff;
            padding: 5px; /* Reduced padding */
            font-size: 1em; /* Reduced font size */
        }
        .summary p {
            text-align: right;
            margin: 0;
        }
        .signature {
            display: flex;
            justify-content: space-between;
            margin-top: 10px; /* Reduced margin */
        }
        .signature div {
            width: 48%;
        }
        .signature .auth-sign {
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="/favicon.ico" alt="Company Logo">
            <div class="title">
                <h3>SALARY SLIP</h3>
                <p> <%= currentYearMonth %></p>
            </div>
            <div class="confidential">
                <p>CONFIDENTIAL</p>
            </div>
        </div>
        <div class="main-content">
            <div>
                <p><strong>Name:</strong> <%= salaryComponents.firstName %> <%= salaryComponents.lastName %></p>
                <p><strong>Employee ID:</strong> <%= salaryComponents.employeeID %> </p>
                <p><strong>Title:</strong> Cleaning Service Staff</p>
            </div>
            <div>
                <p><strong>Directorate:</strong> Operation</p>
                <p><strong>Department:</strong> <%= salaryComponents.department %></p>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Earnings</th>
                    <th>Deductions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Basic Salary</td>
                    <td>Ksh. <%= salaryComponents.baseSalary.toFixed(2) %></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Meal Allowance</td>
                    <td>Ksh. <%= salaryComponents.mealAllowance.toFixed(2) %></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Transportation Allowance</td>
                    <td>Ksh. <%= salaryComponents.transportAllowance.toFixed(2) %></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Medical Allowance</td>
                    <td>Ksh. <%= salaryComponents.medicalAllowance.toFixed(2) %></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Retirement Insurance</td>
                    <td></td>
                    <td>Ksh. <%= salaryComponents.retirementInsuranceAmount.toFixed(2) %></td>
                </tr>
                <tr>
                    <td>Tax</td>
                    <td></td>
                    <td>Ksh. <%= salaryComponents.taxAmount.toFixed(2) %></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Total</th>
                    <th>Ksh. <%= salaryComponents.finalSalaryBeforeDeductions.toFixed(2) %></th>
                    <th>Ksh. <%= salaryComponents.totalDeductions.toFixed(2) %></th>
                </tr>
            </tfoot>
        </table>
        <div class="summary">
            <p><strong>NET PAY:</strong> Ksh. <%= salaryComponents.netSalary.toFixed(2) %></p>
            <p>Ksh. <%= salaryComponents.netSalaryInWords %></p>
            <div class="signature">
                <div>
                    <p>Payment Date: <%= paymentDate %></p>
                    <p>Bank Name:  <%= salaryComponents.bankName %></p>
                    <p>Bank Account Name: <%= salaryComponents.bankAccountName %></p>
                    <p>Bank Account #: <%= salaryComponents.bankAccountNumber %></p>
                </div>
                <div class="auth-sign">
                    <p>_______________________</p>
                    <p>Authorized Signature</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
