<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Salary Details</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Employee Salary Details</h1>
        <div class="card">
            <div class="card-header">
                <h2><%= salaryComponents.firstName %> <%= salaryComponents.lastName %></h2>
                <h6><%= salaryComponents.email %></h6>
                <p><strong>Employee Number: </strong><%= salaryComponents.employeeID %> | <%= salaryComponents.department %></p>
            </div>
            <div class="card-body">
                <p><strong>Base Salary:</strong> $<%= salaryComponents.baseSalary.toFixed(2) %></p>
                <p><strong>Bonus:</strong> $<%= salaryComponents.bonus.toFixed(2) %></p>
                <p><strong>Gross Income:</strong> $<%= salaryComponents.grossIncome.toFixed(2) %></p>
                <p><strong>Allowances:</strong> $<%= salaryComponents.allowances.toFixed(2) %></p>
                <p><strong>Total Deductions:</strong> $<%= salaryComponents.totalDeductions.toFixed(2) %></p>
                <p><strong>Taxable Income:</strong> $<%= salaryComponents.taxableIncome.toFixed(2) %></p>
                <p><strong>Tax:</strong> $<%= salaryComponents.tax.toFixed(2) %></p>
                <p><strong>Final Salary:</strong> $<%= salaryComponents.finalSalary.toFixed(2) %></p>
                <a href="/accounts/employee/salary/<%= salaryComponents.employeeID %>/download" class="btn btn-primary mt-3">Download PDF</a>

            </div>
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
